* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    height: 100vh;
}

.game {
    display: flex;
    gap: 10px;
}

.board {
    display: flex;
    flex-grow: 1;
}
.status {
    position: absolute;
    background-color: rgba(0,0,0, 0.4);

    top: 10px;
    right: 10px;

    color: white;
    border: solid 1px blue;

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    flex-grow: 1;
}